{% extends "base.html" %}

{% block bannerclass %}green-banner{% endblock %}

{% block content %}


<div class="container">
    <div class="row">
        <div class="col-m">
            <h2 class="">Create Card</h2><br>
            
            <form method="POST" class="createcard">
                {% csrf_token %}
                    {{ card_form.as_p }}
                    <button type="submit" class="createbutton hvr-skew">Create</button>
            </form>

            <div class="row">
                <p>Preview</p>
            </div>

            <div class="row">
                <p>Decks</p>       
            </div>    
        </div>
        
        <div class="col-m">
                <h2 class="">Create Deck</h2><br>
                <form method="POST" class="createcard">
                    {% csrf_token %}
                        {{ deck_form.as_p }}
                        <button type="submit" class="createbutton hvr-skew">Create</button>
                </form>
            <div class="row">
                <p>Preview</p>
            </div>

            <div class="row">
                <p>Cards</p>       
            </div>          
        
        </div>
    </div>
</div>



{% endblock %}
