{% extends "base.html" %}

{% block bannerclass %}decks-banner{% endblock %}

{% block content %}

<!-- Add icons/navigation -->


<center><h2 class="avenir b">{{ deck.title }} Deck Info</h2></center>

<div>Deck Name: {{ deck.title }}</div><br>

<div>Card Count: {{ deck.card_count }}</div><br>

<div>Description: {{ deck.description }}</div><br>

<div>Author: {{ deck.author }}</div>

<div>Added: {{ deck.added }}</div>

<div class="play"><i></i><a class="createbutton hvr-fade" href="{% url 'play_deck' slug=deck.slug %}">Play</a></div>

{% if user.is_authenticated %}
<div><i></i><a class="createbutton hvr-fade" href="{% url 'index'%}">Get Deck</a></div>   
{% else %}
<div><a href="{% url 'auth_login'%}?next={{request.path}}" class="createbutton hvr-fade">Get Deck</a></div>   
{% endif %}

{% if user.is_authenticated %}
{% if request.user is deck.author %}
<div><a href="{% url 'edit_deck'%}" class="createbutton hvr-fade">Edit Deck</a></div>   
{% endif %}
{% else %}
<div><a href="{% url 'auth_login'%}?next={{request.path}}" class="createbutton hvr-fade">Edit Deck</a></div>   
{% endif %}

<div class="play"><i></i><a class="createbutton hvr-fade" href="{% url 'deck_card_list' slug=deck.slug %}">View Cards</a></div></div>


<!-- Get deck (if user doesn't own it)

Edit deck button (if user does own )-->


{% endblock %}
