{% extends "base.html" %}

{% block bannerclass %}decks-banner{% endblock %}

{% block title %}<title>QuizDeck</title>{% endblock %}

{% block content %}
    <center><h1>Deck Menu</h1>
    <!-- <h3>Select All Decks or My Decks to continue.</h3></center> -->
    <center><div>
        <i class="material-icons-menu">view_carousel</i><a class="createbutton hvr-skew" href="{% url 'all_decks' %}">View All Decks</a>
        <i class="material-icons-menu">view_carousel</i><a class="createbutton hvr-skew" href="{% url 'my_decks' %}">View My Decks</a>
    </div></center>

{% endblock %}




<!-- {% for deck in decks %}
<i class="material-icons">view_carousel</i><a href="{% url 'deck_detail' slug=deck.slug %}">{{ deck.title }}</a>
{% endfor %} -->