* {
    box-sizing: border-box;
    margin: 0;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
    color: white;
    background-color: lightseagreen;
}

.red-banner {
    background-color: darkred;
}

.blue-banner {
    background-color: darkblue;
}

.green-banner {
    background-color: darkgreen;
}

.logo {
    display: flex;
}

.head-link {
    color: white;
    text-decoration: none;
    flex: auto;
}

.head-link:hover {
    color: white;
}

.nav {
    display: flex;
}

.nav-option {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding: 1rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.nav-option:hover {
    height: 6rem;
}

.decks-option {
    background-color: darkred;
}

.create-option {
    background-color: darkgreen;
}

.profiles-option {
    background-color: darkblue;
}

.content {
    margin: 3rem;
}

.login-form {
    margin: auto;
    text-align: center;
    border: 2px solid black;
    box-shadow: -2px 5px 5px 1px rgb(158, 158, 158);
    width: 300px;
    padding: 2rem;
}

.forgot {
    margin-top: 1rem;
}

.createcard {
    margin: auto;
    text-align: center;
    border: 2px solid black;
    box-shadow: -2px 5px 5px 1px rgb(158, 158, 158);
    width: auto;
    padding: 2rem;
}

.button {
    background-color: darkgreen;
    color: white;
    font-size: 30px;
    display: inline-flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content:center;
    border-radius: 10px;
    padding-left: 2rem;
    padding-right: 2rem;
    justify-content: center;
    text-decoration:none;
    height: 4rem;
}

.button:hover {
    background-color:lightseagreen;
}

a:link {
    text-decoration: none;
    color:white;
}

a:active {
    text-decoration: none;
    color:white;
}

a:visited {
    text-decoration: none;
    color:white;
}
  
a:hover {
    text-decoration: none;
    color:white;
}
